.info-content {
	width: 98%;
	background: #e6e6e6;
	margin: 0 auto;
	z-index: 100;
	margin-bottom: 0px;
}

.infocontentwrapper {
	background: #e6e6e6;
	width: 100%;
	min-width: 1584px;
	padding-top: 90px;
	min-height: 980px;
}

.infogrid {
	background-color: #fff;
	position: relative;
	width: 1028px;
	font-family: 'Open Sans', sans-serif;
	color: #666666;
	overflow: hidden;
	max-width: 1028px;
	text-align: center;
	padding: 50px 0px;
	min-height: 740px;
}

#m_logo {
	position: absolute;
	top: 0px;
	right: 35px;
}

#page_title {
	width: 100%;
	padding-bottom: 20px;
	font-size: 14px;
}

.block_title {
	width: 100%;
	font-size: 21px;
	font-weight: 300;
	color: #666666;
	padding-top: 25px;
	padding-bottom: 20px;
}

.line {
	display: inline-block;
	width: 50px;
	padding: 0px 16px;
	vertical-align: middle;
	color: #b3b3b3;
}

.line hr {
	border: 1px solid #fff;
	border-bottom-color: #b3b3b3;
	color: #fff;
}

.infoblock {
	padding-top: 10px;
	padding-bottom: 30px;
}

.short_description {
	width: 100%;
	font-size: 28px;
	font-weight: 600;
	color: #666666;
	padding-top: 15px;
}

.block_info {
	width: 100%;
	font-size: 14px;
	font-weight: 400;
	color: #666666;
	padding-top: 0px;
	line-height: 1.8em;
}

#contactus, #divisionname {
	position: relative;
	padding-top: 20px;
	padding-bottom: 15px;
}

#m_logo_footer {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}

.firstline {
	font-weight: 700;
}