<!DOCTYPE html>
<html>
<head>

<meta charset="utf-8">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
	  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<!-- <link rel="stylesheet" href="css/todo.css" type="text/css" /> -->
<link rel="stylesheet" href="css/ot.css" type="text/css" />
<script src="https://unpkg.com/vue@2.0.2/dist/vue.js"></script>

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript" src="https://unpkg.com/vue-router@2.0.0"></script>
<script type="text/javascript" src="js/lodash.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	crossorigin="anonymous"></script>
	<script>
  $( function() {
    $( "#startdatepicker" ).datepicker();
    $( "#enddatepicker" ).datepicker();
  } );
  </script>
</head>

<body>

	<section class="todoapp">
		<header class="header">
			<span class="ot-glybtn glyphicon glyphicon-search"></span> <input
								placeholder="Search" v-model="newstring"  @keyup.enter="addFilterString" />
<!-- 			<input class="new-todo" autofocus autocomplete="off"
				placeholder="Search" v-model="newTodo" @keyup.enter="addTodo"> -->
		</header>
		<div id="filtercontrol">
		<div class="row">
			<div class="col-md-2">
				<a href="#filterpanel" data-toggle="collapse"> Filter </a>
			</div>
			<div class="col-md-10">
				<section class="main" v-show="filterStrings.length">
					<ul class="filterlist">
						<li v-for="filterstring in filterStrings" class="todo" :key="filterstring.id">
							<div class="view">
								<button class="destroy" @click="removeString(filterstring)">
								<span class="ot-small-glybtn glyphicon glyphicon-remove"></span>
								</button>
								<label>{{ filterstring.title }}</label>
							</div> 
						</li>
					</ul>
				</section>
			</div>
		</div>
		<div id="filterpanel" class="collapse">
			<div class="row">
				<div class="col-md-6">
					<div class="row"><p>Search only within the following:</p></div>
					<div class="row">
						<div class="col-md-6">
							<input type="checkbox" v-model="check.keywords" /> <label
								for="keywordcheck">Keywords</label> 
						</div>
						<div class="col-md-6">
							<input type="checkbox" v-model="check.citations" /> <label
								for="keywordcheck">Citations</label> 
						</div>
					</div>
					<div class="row">
					<div class="col-md-6">
					<input type="checkbox" v-model="check.owners" /> 
					<label for="keywordcheck">Owners</label></div>
					<div class="col-md-6">
							<input type="checkbox"
								v-model="check.contributors" /> <label for="keywordcheck">Contributors</label>
								</div>
					</div>				
					<div class="row">
					<div class="col-md-6">
						
					<input type="checkbox" v-model="check.title" /> <label
								for="keywordcheck">Title</label>
					
					</div>
					<div class="col-md-6">
							<input type="checkbox" v-model="showmyobj" /> <label
								for="keywordcheck">View only My Knowledge Objects</label>
								</div>		
					
				
					</div>
				</div>
				<div class="col-md-6">
					<div class="row"><p>Select the type of date:</p></div>
					<div class="row">
						<label class="radio-inline"><input type="radio" name="datetype">LAst Updated</label>
						<label class="radio-inline"><input type="radio" name="datetype">Created</label>
					</div>
					<div class="row">Search within the following date range:</div>
					<div class="row">
						<div class="col-md-6">
							<p>Start <input type="text" id="startdatepicker"></p>
						</div>
						<div class="col-md-6">
							<p>End <input type="text" id="enddatepicker"></p>
						</div>
					</div>
			</div>


		</div>
</div>
</div>
	</section>
	<script>
//Full spec-compliant TodoMVC with localStorage persistence
//and hash-based routing in ~120 effective lines of JavaScript.

//localStorage persistence
var STORAGE_KEY = 'todos-vuejs-2.0'
var todoStorage = {
	fetch: function () {
 		var todos = JSON.parse(localStorage.getItem(STORAGE_KEY) || '[]')
 		todos.forEach(function (todo, index) {
   			todo.id = index
 		})
 		todoStorage.uid = todos.length
 		return todos
	},
	save: function (todos) {
 		localStorage.setItem(STORAGE_KEY, JSON.stringify(todos))
	}
}

//visibility filters
var filters = {
		all: function (todos) {
 			return todos
		},
		active: function (todos) {
 			return todos.filter(function (todo) {
   				return !todo.completed
		})
		},
		completed: function (todos) {
 			return todos.filter(function (todo) {
   				return todo.completed
 		})
		}
}

//app Vue instance
var app = new Vue({
// app initial state
	data: {
 			todos: [],
 			newTodo: '',
 			editedTodo: null,
 			visibility: 'all',
 			check:{keywords:true,owners:true,title:true,citations:false,contributors:false},
 			showmyobj:false,
 			filterStrings:[{id:0,title:'Default'}],
 			newstring:''
	},

// watch todos change for localStorage persistence
	watch: {
 		todos: {
   			handler: function (todos) {
     			todoStorage.save(todos)
   			},
   			deep: true
	 	}
	},

// computed properties
// http://vuejs.org/guide/computed.html
	computed: {
 		filteredTodos: function () {
   			return filters[this.visibility](this.todos)
 		},
 		remaining: function () {
   			return filters.active(this.todos).length
 		},
 		allDone: {
   			get: function () {
     			return this.remaining === 0
   			},
  			set: function (value) {
    			this.todos.forEach(function (todo) {
       				todo.completed = value
     			})
   			}
 		}
	},

	filters: {
 		pluralize: function (n) {
   			return n === 1 ? 'item' : 'items'
 		}
	},

// methods that implement data logic.
// note there's no DOM manipulation here at all.
methods: {
 addTodo: function () {
   var value = this.newTodo && this.newTodo.trim()
   if (!value) {
     return
   }
   var uid=this.todos.length;
   this.todos.push({
     id: uid++,
     title: value,
     completed: false
   })
   this.newTodo = '';
 },

 addFilterString: function () {
	   var value = this.newstring && this.newstring.trim()
	   if (!value) {
	     return
	   }
	   var uid=this.filterStrings.length;
	   this.filterStrings.push({
	     id: uid++,
	     title: value,
	   })
	   this.newstring = '';
	 },
 
	 removeString: function (s) {
		   this.filterStrings.splice(this.filterStrings.indexOf(s), 1)
		 },
 
 removeTodo: function (todo) {
   this.todos.splice(this.todos.indexOf(todo), 1)
 },

 editTodo: function (todo) {
   this.beforeEditCache = todo.title
   this.editedTodo = todo
 },

 doneEdit: function (todo) {
   if (!this.editedTodo) {
     return
   }
   this.editedTodo = null
   todo.title = todo.title.trim()
   if (!todo.title) {
     this.removeTodo(todo)
   }
 },

 cancelEdit: function (todo) {
   this.editedTodo = null
   todo.title = this.beforeEditCache
 },

 removeCompleted: function () {
   this.todos = filters.active(this.todos)
 }
}
})
/* // a custom directive to wait for the DOM to be updated
// before focusing on the input field.
// http://vuejs.org/guide/custom-directive.html
directives: {
 'todo-focus': function (el, value) {
   if (value) {
     el.focus()
   }
 }
}
}) */
/* 
//handle routing
function onHashChange () {
var visibility = window.location.hash.replace(/#\/?/, '')
if (filters[visibility]) {
 app.visibility = visibility
} else {
 window.location.hash = ''
 app.visibility = 'all'
}
}

window.addEventListener('hashchange', onHashChange)
onHashChange()
 */
//mount
app.$mount('.todoapp')
	</script>
	<style>
	input[id$="datepicker"]{
		width:150px;
	}
	
[v-cloak] {
	display: none;
}

.filterlist li{
display:inline-block;
background-color:#fff;
margin:12px;
padding:12px;
}

.destroy {
	width:25px;
	height: 25px;
	border-radius:100%;
	border: 1px solid #39b45a;
	background-color:#fff;
	margin: 0px 5px 0px 10px;
	color:#39b45a;
}
</style>
</body>
</html>