# Created by .ignore support plugin (hsz.mobi)
.DS_Store
.gitignore
.idea/
DB_create.sql
object-teller.iml
WebContent/WEB-INF/lib/javax.websocket-api-1.1.jar
build/
dist/
out/
buildNew
.settings
/.classpath
/.project
