<!DOCTYPE html>
<html>
<head>

<meta charset="utf-8">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous"><link rel="stylesheet" href="css/todo.css" type="text/css" />
<link rel="stylesheet" href="css/ot.css" type="text/css" />
<script src="https://unpkg.com/vue@2.0.2/dist/vue.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/vue-router@2.0.0"></script>
<script type="text/javascript" src="js/lodash.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	crossorigin="anonymous"></script>
</head>


<body>
<div id="app">
<div class="row"> 
	<div class="col-md-4">
	<h1> Output messages</h1>
	{{msg.output}}
	
	<h3> footer</h3>	
	</div>
	<div class="col-md-4">
	<h1> Input messages</h1>
	{{msg.input}}
	<h3> footer</h3>	
	</div>
	<div class="col-md-4">
	<h1> Payload Messages</h1>
	{{msg.payload}}
	<h3> footer</h3>	
	</div>

</div>
<div class="row"> 
	<div class="col-md-4">
	<fileuploader section="output" v-on:filechange="updatedisplay" :src='msg.output'></fileuploader></div>
	<div class="col-md-4">
	<fileuploader section="input" v-on:filechange="updatedisplay" :src='msg.input'></fileuploader></div>
	<div class="col-md-4">
	<fileuploader section="payload" v-on:filechange="updatedisplay" :src='msg.payload'></fileuploader></div>
	</div>
</div>  
  
<template id="file_uploader"> 
	<div v-if="!selectedfile">
			<div class="upload-direction">
				<input type="file" :id="selectfile" @change="onFileChange" class="inputfile"
										data-multiple-caption="{count} files selected" multiple style="display: none;"/>
				<label :for="selectfile" id="filecount"> 
					<img src="images/Upload_Icon.png">
					<p class="green">CHOOSE_FILE_FOR_{{section}}</p>
				</label>
			</div>
	</div>
	<div v-else>
		<button v-on:click="removeOutputFile">Remove</button>
		<textarea id="outputTextArea" @change="inputchange" v-model="message.msg"></textarea>
	</div>
</template>  
<script>
	var msg={payload:'P',output:'O',input:'I'};
	
	var fileuploader = Vue.component("fileuploader",{
		template:"#file_uploader",
		props:['section','src'],
		data: function(){
		   return { selectedfile:false,
		    		message:{msg:""},
		  }},
		  computed:{
			  selectfile:function(){
				  return this.section+"file";
			  }
		  },
		  created:function(){
			  if(this.src!=null){
				  this.selectedfile=(this.src!="");
			  }else{
				  this.selectedfile=false;
			  }
			  this.message.msg=this.src;
		  },
		  watch:{
			  src:function(){
				  if(this.src!=null){
					  this.selectedfile=(this.src!="");
					  this.message.msg=this.src;
				  }else{
					  this.selectedfile=false;
					  this.message.msg='';
				  }
			  }
		  },
		methods:{
			inputchange:function(){
				this.$emit("filechange",this.section,this.message.msg);
			},
			loadContent: function(file) {
		    	var self=this;
		        var reader = new FileReader();
		        reader.onload = (function(f) {
					return function(e) {
						var contents = e.target.result;
						self.message.msg=contents;
						console.log("Section:"+self.section+" Msg:"+self.message.msg);
						self.$emit("filechange",self.section,self.message.msg);
					};
				})(file);
		        reader.readAsText(file);
		      },
			 onFileChange: function(e) {
			      var files = e.target.files || e.dataTransfer.files;
			      this.selectedfile=true;
			      if (!files.length)
			        return;
			      this.loadContent(files[0]);
			      //console.log("Section:"+this.section+" Msg:"+this.message.msg);
			      
			      },
		    removeOutputFile: function (e) {
			      this.selectedfile = '';
			      this.message.msg="";
			      this.$emit("filechange",this.section,this.message.msg);
			    }
		    
			
		}
	});
	
	
	new Vue({
		  el: '#app',
		  data:{
			  msg:msg
		  },
		  methods: {
		    updatedisplay : function(sec, msg){
		    	console.log("Section:"+sec+" Msg:"+msg);
				this.msg[sec]=msg;
		    },
		  },
		  component:{
			  fileuploader:fileuploader
		  }
		})
	</script>
	<style>
#app {
  text-align: center;
}
img {
  width: 30%;
  margin: auto;
  display: block;
  margin-bottom: 10px;
}
button {
  
}
</style>
</body>
</html>