.main-content, .info-content {
	width: 98%;
	min-height: 700px;
	background: #e6e6e6;
	margin: 0 auto;
	z-index: 100;
}

.info-content {
	background: #fff;
}

.maincontentwrapper {
	width: 100%;
	min-width: 1584px;
}

.infocontentwrapper {
	width: 100%;
	min-width: 1584px;
	padding-top: 160px;
}

.datagrid, .infogrid {
	/* 	background-color:pink; */
	position: relative;
	width: 1024px;
	font-family: 'Open Sans', sans-serif;
	overflow: hidden;
	max-width: 1028px;
}

.datagrid table {
	text-align: left;
	/*   width: 1028px; */
	border-collapse: separate;
	border-spacing: 0px 22px;
}

.datagrid table tr {
	background: #fff;
	margin: 10px;
	border: /* none;
  outline: */ 1px solid white;
}

.datagrid table tr:hover {
	/*  outline:1px solid #39b54a; */
	border-bottom: 1px solid #39b54a;
}

.header {
	z-index: 125;
	min-width: 1584px;
}

.headercontainer {
	width: 98%;
	height: 60px;
	background: white;
	margin: 0 auto;
	overflow: hidden;
	border: 1px solid lightgrey;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.35);
	z-index: 125;
}

.headercol {
	position: relative;
	text-align: left;
	width: 1024px;
	height: 30px;
	border-collapse: collapse;
	/*     margin:0 auto; */
	display: table;
	margin-top: 15px;
	margin-bottom: 15px;
	max-width: 1028px;
	z-index: 125;
}

.headercol ul {
	display: table-row;
}

.headercol ul li {
	text-align: left;
	vertical-align: middle;
	display: table-cell;
	background-color: white;
	color: #39b54a;
	font-size: 14px;
	font-weight: 800;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-left: 22px;
	padding-right: 22px;
}

.obj-col>li {
	color: dimgrey !important;
	font-size: 16px !important;
	width: 145px;
}

.col-header {
	height: 20px;
	background: white;
	margin: 0 auto;
	overflow: hidden;
	border: 1px solid lightgrey;
	border-top: none;
	border-bottom: none;
}

.col-data {
	height: 30px;
	text-align: left;
	background: white;
	margin: 0 auto;
	overflow: hidden;
	border: 1px solid lightgrey;
	border-top: none;
	border-bottom: none;
	border-left: 1px solid #fff;
	padding-left: 23px;
	padding-right: 23px;
}

.col-type {
	width: 38px;
	text-align: center;
}

.col-title {
	width: 553px;
	padding-right:19px;
}

.col-update {
	width: 204px;
}

.col-addby {
	width: 204px;
}

table.rowcontainer {
	text-align: left;
	width: 1024px;
	display: table;
	margin-left: 2px;
	margin-right: 2px;
}

table.rowcontainer tr {
	position: relative;
	margin-left: 10px;
	margin-right: 10px;
}

.backrow .clickable a {
	position: absolute;
	width: 100%;
	height: 72;
	top: 0;
	cursor: pointer;
	left: 0;
	text-decoration: none;
	/* Makes sure the link   doesn't get underlined */
	z-index: 10; /* raises anchor tag above everything else in div */
	background-color: white; /*workaround to make clickable in IE */
	opacity: 0; /*workaround to make clickable in IE */
	filter: alpha(opacity = 1); /*workaround to make clickable in IE */
}

.selectorUL {
	width: 1024px;
}

.rowcontainer tr td {
	border: none;
	padding: 6px 0px;
}

.rowcontainer tr:hover {
	cursor: pointer;
	outline: 2px solid #39b54a;
	/* 	border-bottom:5px solid #39b54a; */
}

.backrow {
	text-align: left;
	width: 100%;
	border-collapse: collapse;
	margin: 0 auto;;
	display: table;
	margin-top: 9px;
	margin-bottom: 9px;
}

.backrow ul {
	display: table-row;
	min-width: 1024px;
}

.backrow ul li {
	vertical-align: middle;
	display: table-cell;
	background-color: white;
	color: dimgrey;
	font-size: 14px;
	margin: 5px 15px;
}

.col-data.col-title {
	text-align: left;
	width: 539px;
	text-overflow:ellipsis;
}

.col-data.col-addby {
	border-right: none;
}

.view-obj {
	padding: 0px;
}

.view-obj p, h4 {
	color: #666666;
	font-weight: 400;
	font-size: 14px;
	padding-left:16px;
}

.view-obj div {
 	margin: 22px 0px; 
}

.view-obj td:hover {
	outline: 1px solid white;
}

h3 {
	font-size: 21px;
	font-weight: 300;
}

.fieldName {
	width: auto;
	margin:0px;
	padding-left: 38px;
	padding-right: 22px;
	color: #666666;
}

.display-content {
	padding-left: 30px;
	padding-top: 20px;
}

.inline {
	display: inline-block;
	margin:0px 0px 0px 50px;
	vertical-align: middle;
}

.edit {
	background-color: #fff;
	color: #b3b3b3;
	font-size: 14px;
	font-weight: 400;
	padding-left: 22px;
	border: none;
	outline: none;
	cursor: pointer;
	vertical-align: middle;
}

.edit:hover{
	color: #666666;
}

.done {
	background-color: #fff;
	color: #39b54a;
	font-size: 14px;
	font-weight: 300;
	padding-left: 5px;
	padding-right: 5px;
	border: 1px solid #39b54a;
	outline: none;
	border-radius: 5px;
	cursor: pointer;
	position: absolute;
	right: 250px;
	top: -26px;
}

.date {
	position:absolute;
	padding: 16px 38px;
	color: dimgrey;
	display: inline-block;
	margin-right: 10%;
}

.date1 {
	border-right: 1px solid #b3b3b3;
	margin-left: 90px;
}

.date2 {
	padding-left: 25px;
}

.date div {
	display: inline-block;
	width: 120px;
}

.date-title {
	font-size: 12px;
	font-weight: 400;
	line-height: 1em;
	padding-bottom:5px;
}

.date-data {
	font-weight: 400;
	font-size: 16px;
		line-height: 1em;
}

.display-banner {
	height: 175px;
	padding-top: 45px;
}

#pubIndicator{
	width: 10px;
	height: 60px;
	display: inline-block;
}

.type-status {
	display: inline-block;
	height: 10px;
	width: 10px;
	background: #009245 10px 10px;
	border-radius: 50%;
	margin-top: 15px;
	margin-bottom: 20px;
}

.display-banner h3 {
	margin-top: 20px;
	display: inline-block;
	font-size: 14pt;
}

#ko-title {
	position:relative;
	display: block;
	font-size: 28pt;
	margin-left:11px;
	margin-top:16px;
	width:860px;
	height:60px;
	background-color:#fff;
}

#ko-title h1{
	position:absolute;
	display: inline-block;
	font-size: 28pt;
	left:24px;
}

.display-banner h1 small {
	display: inline-block;

}

.pri-pub {
	color: dimgrey;
	display: inline-block;
	position: relative;
	float: right;
	line-height: 1.8em;
	cursor: pointer;
	padding-right: 30px;
	font-size: 12px;
}

.pri-pub2, .pri-pub1 {
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 28px;
	margin-right:8px;
	color:#b3b3b3;
}
.pri-pub span:hover{
	color:#666666;
}
.pri-pub span:after {
	content: '';
	display: block;
	margin: auto;
	height: 2px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}
.pri-pub span.middleout:after {
	width: 100%;
	background: #39b45a;
}

#goback {
	display: inline-block;
	font-size: 12px;
	color: #666666;
	margin-left: 12px;
}

#leadarrow {
	top: 0;
	left: 100px;
/* 			background-image: url("../images/Back_Icon_Light-01.png"); */
	width: 21px;
	height: 21px; 
	display: inline-block;
/* 	border-left: 1px solid #666666;
	border-top: 1px solid #666666;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-animation: sdb04 2s infinite;
	animation: sdb04 2s infinite; */
	box-sizing: border-box;
}

#backButton {
	background-image: url("../images/Back_Icon_Light-01.png");
	background-repeat: no-repeat;
	background-position: left top;
	display:inline-block;
	background-color: #fff;
	border: none;
	color: #b3b3b3;
	font-size: 12px;
	vertical-align:top;
	height:21px;
}

#backButton a{
	padding-left:26px;
	vertical-align:middle;
	color: #b3b3b3;
	line-height: 1.8em;
}

#backButton:hover{
		background-image: url("../images/Back_Icon_Dark-01.png");
			background-repeat: no-repeat;
	background-position: left top;
	color:#666666;
}

#backButton a:hover{
	color:#666666;
}


.pri-pub div {
	display: inline-block;
}

.current-tab span{
/* 	border-bottom: 2px solid #39b54a; */
	padding-bottom:2px;
	color:#666666;
	
}

.minitype-status {
	display: inline-block;
	height: 8px;
	width: 8px;
	background: #009245 8px 8px;
	border-radius: 50%;
	margin-top: 10px;
	margin-right: 5px;
}

.userbutton {
	position: absolute;
	right: 22px;
	bottom: 35px;
}

.data_edit {
	color: #666666;
	font-weight: 300;
	font-size: 16px;
}

textarea {
	width: 100%;
	min-height: 380px;
	margin: 0px;
	padding: 5px;
	border: 1px solid #39b54a;
	border-radius: 10px;
}
