@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic);

body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Open Sans', sans-serif;
  color: #666666;
}

h1    { font-size: 28px; }
h2    { font-size: 24px; }
h3    { font-size: 21px; display: inline-block; }
h4    { font-size: 18px; display: inline-block; }
h5    { font-size: 16px; display: inline-block; line-height:1.8em;}
h6    { font-size: 14px; display: inline-block;}
h7    { font-size: 12px; display: inline-block;}
small { font-size:  70%; }

* {
	outline:none;
}

a, a:hover, a:visited, a:focus {
	text-decoration:none;
	cursor: pointer;
	transition: color 0.5s ease;
}

.wrapper {
	background-color: transparent;
	width: 1584px;
	margin: 0 auto;
}

.login-wrapper {
  position:fixed;
  top:0px;
  right:60px;
  float:right;
}
.datagrid {
	margin:0 auto;
	position: relative;
	width: 1024px;
	overflow: hidden;
	max-width: 1028px;
}

.nav .datagrid {
  	min-height: 58px;
}
.e6backing .datagrid {
  	min-height: 880px;
    	padding-bottom: 30px;
}

.middleout li>a>span:after {
	content: '';
	display: block;
	margin: auto;
	height: 2px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
/*     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);  */
}
::-webkit-scrollbar-track {
      background-color: #fff;
} /* the new scrollbar will have a flat appearance with the set background color */

::-webkit-scrollbar-thumb {
      background-color: #eeeeee;
} /* this will style the thumb, ignoring the track */

::-webkit-scrollbar-button {
    display:none;
    background-color: #e6e6e6;
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */

::-webkit-scrollbar-corner {
      background-color: #fff;
} /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */

.mar-top30 {
  margin-top:30px;
}
.mar-r-30 {
  margin-right:50px;
}
.bg-trans {
  background-color: transparent;
}
.bg-white {
    background-color: #fff;
}
.brd-r {
  border-right: 1px solid #666666;
}
.lh-1 {
  line-height: 1em;
}
.lh-3 {
  line-height: 3em;
}
.float-r {
  float: right;
}

.ot-banner {
    background-color: transparent;
    position: relative;
    width: 1024px;
    overflow: visible;
    z-index: 10;
    height: 220px;
    margin: 0 auto;
    padding: 0px 12px;
}
