.kg-fg-color {
  color: #0075bc;
}
.kg-bg-color {
  background-color: #fff;
}
.kg-btn-close {
  color: #555555;
  transition: color 0.6s ease;
}
.kg-btn-close:hover * {
  color: #0075bc;
}
.navbar {
	border-bottom: 1px solid transparent;
  z-index: 250;
}
a, a:hover, a:visited, a:focus {
	color: #0075bc;
}
.navbar-nav>li>a {
	color: #555555;
}
.navbar-nav>li>a:hover, .navbar-nav>li.active>a {
	color: #0075bc;
}
.middleout li.active>a>span:after, .middleout li:hover>a>span:after, div.middleout:hover a>span:after  {
  width:100%;
	background-color: #0075bc;
}
.dropdown-menu > li > a, .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    color:#0075bc;
}
.dropdown-menu {
  padding: 0px;
}
/* K-grid Library Buttons */
.kg-roundbtn {
  border: 1px solid #0075bc;
  border-radius: 100%;
  cursor: pointer;
  color: #0075bc;
  background-color: #fff;
    transition: all 0.5s ease;
}

.kg-btn-primary {
  border: 1px solid #0075bc;
  color: #0075bc;
  background-color: #fff;
  font-size: 14px;
  font-weight: 400;
  padding: 12px;
  line-height:2em;
  cursor: pointer;
  vertical-align: middle;
  transition: color 0.5s ease;
  min-width: 100px;
}

.kg-btn-secondary {
  border: none;
  color: #0075bc;
  background-color: #fff;
  font-size: 14px;
  font-weight: 400;
  padding: 12px;
  cursor: pointer;
  vertical-align: middle;
  transition: color 0.5s ease;
  min-width: 100px;
}

ul.actioniconlist li div.actioniconcap {
	background-color:#fff;
	border: 1px solid #0075bc;
	color:#0075bc;
}
div.actionicon {
	border: 1px solid #0075bc;
	background-color:#0075bc;
}
/* Knowledge Grid Library Input */
input[type=text],
input[type=password]
 {
  width:900px;
  height: 50px;
  padding: 0px 16px;
  border: 1px solid #e5e5e5;
  border-radius: 0px;
  margin:2px 0;
  font-size: 14px;
  color:#666666;
  font-weight:400;
}
