@charset "UTF-8";
/* CSS Document */

/*color scheme colors - american dollar bill colors
#E7E3D6 - khaki for content background
#316163 - teal for accent
#5A615A - steel green for header background
#42594A - currency bright green
#949A94 - gun grey
#ADAEA5 - paper grey for footer text

#234214 - very dark green

#A6CC70 - lime green accent for logos and buttons
#E7EBD4 - tan yellow for header text and logos
#768076 - dark grey
#695649 - light brown for footer background 
#534741 - dark brown 

*/

body {
	font: 100%/1.4 Helvetica, sans-serif;
	background: white;
	margin: 0;
	padding: 2;
	color: #000;
}

/* ~~ Element/tag selectors ~~ */
ul, ol, dl { /* Due to variations between browsers, it's best practices to zero padding and margin on lists. For consistency, you can either specify the amounts you want here, or on the list items (LI, DT, DD) they contain. Remember that what you do here will cascade to the .nav list unless you write a more specific selector. */
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	 /* removing the top margin gets around an issue where margins can escape from their containing div. The remaining bottom margin will hold it away from any elements that follow. */
	padding-right: 20px;
	padding-left: 20px; /* adding the padding to the sides of the elements within the divs, instead of the divs themselves, gets rid of any box model math. A nested div with side padding can also be used as an alternate method. */
}
a img { /* this selector removes the default blue border displayed in some browsers around an image when it is surrounded by a link */
	border: none;
}
/* ~~ Styling for your site's links must remain in this order - including the group of selectors that create the hover effect. ~~ */
a:link {
	color: #42413C;
	text-decoration: underline; /* unless you style your links to look extremely unique, it's best to provide underlines for quick visual identification */
}
a:visited {
	color: #6E6C64;
	text-decoration: underline;
}
a:hover, a:active, a:focus { /* this group of selectors will give a keyboard navigator the same hover experience as the person using a mouse. */
	text-decoration: none;
}

/* ~~ this fixed width container surrounds the other divs ~~ */
.container {
	position:fixed;
	left: 0px;
	width: 1200px;
	bottom:38px;
	background: #E7E3D6;
	margin: 0 auto; /* the auto value on the sides, coupled with the width, centers the layout */
}

/* ~~ the header is not given a width. It will extend the full width of your layout. It contains an image placeholder that should be replaced with your own linked logo ~~ */
.header-left {
	line-height:26px; 
	font-size:13px;
	height: 90px;
	background: #5A615A;
	position:fixed;
	top:0px;
	width:130px;
}
.header-left h3 {color: #E7EBD4;}

.header-right {
	line-height:26px; 
	font-size:13px;
	height: 90px;
	background: #ADAEA5;
	position:fixed;
	left:130px;
	top:0px;
	width:1070px;
}
.header-right h3 {color: black;}

.HeaderTableGenerator {
	margin:0px;
	padding:0px;
	width:90%;
}.HeaderTableGenerator table{
    border-collapse: collapse;
    border-spacing: 0;
	width: 80%;
	/*height:100%;*/
	margin:0px;
	padding:2px;
}.HeaderTableGenerator td{
	vertical-align:middle;
	background-color:#ADAEA5;
	white-space:nowrap;
	overflow:hidden;
	text-align:left;
	padding:4px;
	font-size:11px;
	font-family:Helvetica;
	font-weight:bold;
	color:#000000;
	line-height: 14px;
}

.rbtn {
	float:right;
}

.menuoptions p {display:none;}
.menuoptions p:target {display:block;}


.control-bar {
	line-height:26px; 
	text-align:center;
	font-size:13px;
	font-family:Helvetica;
	font-weight:bold;
	color:#000000;
	line-height: 14px;
	height: 35px;
	background: #E7E3D6;
	position:fixed;
	top:90px;
	width:1200px;
	border-bottom: 1px solid #ADAEA5;
}

.content-left {
	position:fixed;
	top: 126px;
	bottom: 38px;
	background: #E7E3D6;
    height: 600px;
	width:130px;
	padding: 10px 0;
	border-right: 1px solid #ADAEA5;
}
.content-left h1 {color: #768076;
font-size:12px;}
.content-left h3 {color: #949A94;
font-size:12px;
font-weight:600;
line-height:22px;}
.content-left p {color: #695649}

.content-right {
	position:fixed;
	top: 126px;
	bottom: 38px;
	background: #E7E3D6;
    height: 600px;
	left: 131px;
	width:1070px;
}
.content-right h1 {color: #768076;}
.content-right p {color: #695649}


/* ~~ The footer ~~ */
.footer {
	position:fixed;
	top: 690px;
	height: 38px;
	width:1200px;
	padding: 10px 0;
	/* background: #A6CC70;*/
	background: #695649;
}
.footer p {color: #ADAEA5;}

/* ~~ miscellaneous float/clear classes ~~ */
.fltrt {  /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
	float: right;
	margin-left: 8px;
}
.fltlft { /* this class can be used to float an element left in your page. The floated element must precede the element it should be next to on the page. */
	float: left;
	margin-right: 8px;
}
.clearfloat { /* this class can be placed on a <br /> or empty div as the final element following the last floated div (within the #container) if the #footer is removed or taken out of the #container */
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}

#h4
{
padding-left:20px;
font-size:12px;
font-weight:600;
line-height:22px;
color:#5A615A;
}

#h5
{
font-size:10px;
font-weight:600;
color:#316163;
display:inline;
}

.filledInBox {
	position:inherit;
	width:139px;
	height:30px;
	display:inline-block;
	background-image: url(../images/ShowBox1.png);
}
.FIBleftside {
	position:relative;
	left:10px;
	bottom:5px;
	font-size:18px;
	line-height:22px;
	padding:3px;
	display:inline;
	color:#316163;
}

.openBox {
	position:inherit;
	width:139px;
	height:30px;
	display:inline-block;
	background-image: url(../images/EntryBox1.png);
	border: none;
	border-color: transparent;
}
.OBleftside {
	position:relative;
	left:10px;
	font-size:18px;
	line-height:18px;
	padding:3px;
	display:inline;
	color:black;
}

#navcontainer
{
background: #E7E3D6;
margin: 0 auto;
padding: 5px 0 0 0;
font-family: helvetica, sans-serif;
}

/* to stretch the container div to contain floated list */
#navcontainer:after
{
content: ".";
display: block;
line-height: 1px;
font-size: 1px;
clear: both;
}

ul#navlist
{
list-style: none;
padding: 0;
margin: 0 auto;
width: 60%;
font-size: 0.8em;
}

ul#navlist li
{
display: block;
float: left;
width: 19%;
margin: 0;
padding: 0;
}

ul#navlist li a
{
display: block;
width: 100%;
padding: 0.5em;
border-width: 1px;
border-color: #fff #aaab9c #ccc #fff;
border-style: solid;
color: #777;
text-decoration: none;
background: #E7E3D6;
}

#navcontainer>ul#navlist li a { width: auto; }

ul#navlist li#active a
{
background: white;
color: #234214;
}

ul#navlist li a:hover, ul#navlist li#active a:hover
{
color: #234214;
background: transparent;
border-color: #aaab9c #fff #fff #ccc;
}

.datagrid table { border-collapse: collapse; text-align: left; width: 100%; } .datagrid {font: normal 12px/150% Helvetica, sans-serif;  background: #fff; overflow: hidden; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }.datagrid table td, .datagrid table th { padding: 3px 3px; }.datagrid table thead th {background-color:#ADAEA5; color:white; font-size: 15px; font-weight: normal; } .datagrid table thead th:first-child { border: none; }.datagrid table tbody td { color: #7D7D7D; font-size: 12px;font-weight: normal; }.datagrid table tbody .alt td { background: #EBEBEB; color: #7D7D7D; }.datagrid table tbody td:first-child { border-left: none; }.datagrid table tbody tr:last-child td { border-bottom: none; }.datagrid table tfoot tr {font-size:9px; color:#695649; background:#E7E3D6; line-height:8px; text-align:center;} .datagrid table tr a:link {color:#42594A; text-decoration:none;} .datagrid table tr a:visited {color:#A6CC70; text-decoration:none;}



#navcontainerV
{
background: #E7E3D6;
width: 100%;
margin: 0 auto;
font-family: helvetica, sans-serif;
}

ul#navlistV
{
text-align: center;
list-style: none;
padding: 0;
margin: 0 auto;
width: 85%;
}

ul#navlistV li
{
display: block;
margin: 0;
padding: 0;
}

ul#navlistV li a
{
display: block;
width: 100%;
padding: 0.5em 0 0.5em 0;
border-width: 1px;
border-color: #ffe #aaab9c #ccc #fff;
border-style: solid;
font-family:Helvetica;
font-weight:bold;
font-size: 11px;
color: #777;
text-decoration: none;
background: #E7E3D6;
}

#navcontainerV>ul#navlistV li a { width: auto; }

ul#navlistV li#activeV a
{
background: white;
color: #234214;
}

ul#navlistV li a:hover, ul#navlistV li#activeV a:hover
{
color: #234214;
background: transparent;
border-color: #aaab9c #fff #fff #ccc;
}
