.banner-content {
  position:relative;
  width: 1024px;;  
/*   margin: 0 auto;  */
  margin-top:60px;
  overflow: hidden;
  z-index:10;
}
    
.banner-content#landing{
    background-color:transparent;
    height:335px;

}

.banner-content#homebanner{
	width:1024px;
  margin-top: 75px;
  overflow: hidden;
  height: 220px;
}
.banner-content table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0px;
  margin-left:15px;
  padding: 2px;
}
.banner-content td {
  vertical-align: middle;
  background-color: white;
  white-space: nowrap;
  overflow: hidden;
  text-align: left;
  padding: 4px;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  font-weight: semibold;
  color: dimgrey;
  line-height: 16px;
}
.banner-content#landing h1 {
font-family: 'Open Sans', sans-serif;
font-size:35px;
  font-weight: semibold;
  margin-top: 75px;
  text-align:center;
  margin-bottom: 20px;
  color: dimgrey;
  margin: 0 auto;
  line-height: 2em;
  padding-top:90px;
   background:transparent;
}
.banner-content#landing h1 small {
  font-family: 'Open Sans', sans-serif;
	font-zise:28px;
  line-height: 1.5em;
  /*font-weight: 100;*/
  display: block;
}
#bannerbk{
	/* background-color:pink; */
	position:fixed;
	width:1024px;
	top:85px;
	text-align: center;
}
.banner-content#homebanner h1 {
font-family: 'Open Sans', sans-serif;
font-size:35px;
  font-weight: semibold;
  text-align:left;
  margin-bottom: 20px;
  color: dimgrey;
  margin: 0 auto;
  line-height: 2em;
  padding-left:15px;
  padding-top:15px;
   background:transparent;
}
#homebanner >h1 small {
  font-family: 'Open Sans', sans-serif;
	font-zise:24px;
  line-height: 1.5em;
  /*font-weight: 100;*/
  display: block;
}
.banner-content table td #h5 {
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 10px;
   font-size:18px;
  text-align: left;
  color: dimgrey;
}
h5 {
  font: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  padding: 18px;
  margin-top: 100px;
  margin-bottom: 10px;
  text-align: left;
  color: dimgrey;
}
.banner-content h6 {
  font: 1.5em Arial, Helvetica, sans-serif;
  font-weight: 700;
  padding: 12px;
  margin-top: 100px;
  margin-bottom: 10px;
  letter-spacing: 0.08em;
  text-align: left;
  color: dimgrey;

}

.banner-content #bannercontent{
    position:relative;
    width:80%;
    height:100%;
    float:left;
}

.banner-content #bannericons{
      position: absolute;
  width:20%;
        height:40px;
 bottom:50px;
 right:24px;
}

#bannericonrow {
	list-style:none;
    position:relative;
    display:table-row;
    float:right;
}
#bannericonrow li{
    display:table-cell;
}





