.info-content {
  width: 98%;
	background: #e6e6e6;
  min-height: 850px;
  margin: 0 auto;
  z-index:100;
  margin-bottom:10px;
}

.infocontentwrapper{
		background: #e6e6e6;
	width:100%;
	  min-width:1584px;
	  padding-top:100px;
	  min-height:1120px;
}
.infogrid {
	background-color: #fff; 
	position:relative;
  width: 1028px;
  font-family: 'Open Sans', sans-serif;
  color: #666666;
  overflow: hidden;
	max-width:1028px;
	text-align: center;
	padding:40px 0px;
	min-height:740px;
}

#m_logo{
	position:absolute;
	top:0px;
	right:35px;
}


#page_title{
	width:100%;
	padding-bottom:20px;

	font-size: 14px;
}

.block_title {
	width:100%;
	font-size: 28px;
	font-weight: 300;
	color: #666666;
	padding-top:15px;
	padding-bottom:15px;
}

.line {
	display:inline-block;
	width:70px;
	padding: 0px 32px;
	vertical-align: middle;
	color:#b3b3b3;
	
}

.infoblock{
	padding-top:30px;
	padding-bottom:30px;
}
.short_description {
		width:100%;
	font-size:28px;
	font-weight:600;
	  color: #666666;
	padding-top:15px;
}

.block_info {
		width:100%;
	font-size: 16px;
	font-weight: 400;
	  color: #666666;	
	padding-top:15px;
line-height: 1.8em;
}

#contactus{
	margin-top:20px;
}


#m_logo_footer {
	text-align:center;
padding-bottom:30px;	
}

.firstline {
	font-weight:700;
}