.settingcontainer {
    width: 0%; 
    height:100%; 
    position:fixed;
    top: 0;
    left:0;
    background-color:rgba(0,0,0,0.7);
    transition: 300ms;
    z-index:20;
    display:none;
}

.settingoverlay {/* position:relative; max-width: 60%; height:80%; margin: 100px auto;     background-color:transparent;
   align-items: right; */
   background-color:#fff;
   position: relative;
   width: 1030px;
   height: 660px;
   margin: 0 auto;
   top: 150px;
 }

.settingcontent {
     width: 1010px;
    height: 660px;
    margin: 0 auto;
    padding:10px;
}

form#libsetting{
	padding:0px;
	height:80%;
}

table#libsettable{
    text-align: left;
    width: 100%;
    border-collapse:separate;
    border-spacing:6px 20px;
    margin:0 auto; 
    padding:0px;
    display:block;
    color:#666666;
}
.settingcontent table td{
   font-size:21px;
   border:none;
}

input[type=text] {
    font-size:18px;
    width:90%;
    height:21px;
    border:1px solid black;
	-moz-border-radius: 1em;
    -webkit-border-radius: 1em;    
    border-radius: 10px;
    margin-left:5px;
    padding-left:10px;
}

input[type=text], select {
    font-size:18px;
    height:30px;
    border:1px solid black;
	-moz-border-radius: 1em;
    -webkit-border-radius: 1em;   
    border-radius: 10px;
    outline:none;
}

input[type=text].libset, input[type=password].libset{
 width:250px;	
 height:50px;
 
}

input[type=password] {
    font-size:18px;
    width:90%;
    height:21px;
    border:1px solid black;
	-moz-border-radius: 1em;
    -webkit-border-radius: 1em;    
     border-radius: 10px;
   padding-left:10px;
        margin-left:5px;
}

input[type=password],select{
    font-size:18px;
    width:90%;
    height:30px;
    border:1px solid black;
	-moz-border-radius: 1em;
    -webkit-border-radius: 1em;    
     border-radius: 10px;
    outline:none;
}

.entryform table td.cheader{
    font-size:14px;
    border:none;
    text-align:center;
}

.settingcontent table td.rheader{
    font-size:21px;
     border:none;
    text-align:right;
}

.settingcontent table td.actbutton{
    font-size:21px;
    border:none;
    text-align:center;
}

.settingcontent table td.actresult{
    font-size:21px;
    border:none;
    text-align:center;
}

.settingcontent#saveaction{
    align-items: center;
}
.testbutton {
 
    height:42px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    color:white;
    background-color:green;
    border:none;
    border-radius: 15px;
    font-size:21px;
    padding:7px 14px;
    margin:0 auto;
	cursor:pointer;
    
}

.testbutton:hover{
    background: lightgreen;
}
.savebutton {
   background:green;
 	border-color:white; 
	border-width:2px;
	color:white;
	cursor:pointer;
	padding:7px 21px;

    position:absolute;
 
	font-size:21px; 
    margin-top: 10px;
right:50px;
bottom:50px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;

}

.savebutton:hover { background:lightblue; }

.greenroundbutton:hover{
    background-color: lightgreen;
    
}

.greenroundbutton#closebutton, select{
outline:none;}

.greenroundbutton#newobject{
        position:absolute;
    top:65px;
    left: 1250px;
}
/* .greenroundbutton#newuser{
        position:absolute;
    top:65px;
    left: 1300px;
} */
.greenroundbutton#infoicon{
        position:absolute;
    top:65px;
    left: 1350px;
}



.roundbutton#shareduser{
        position:absolute;
    top:165px;
    left: 1250px;
}


