@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic);

body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote, button {
  margin: 0;
  padding: 0;
  border: 0; 
  font-family: 'Open Sans', sans-serif;
}

body {
	position:relative;
	height:1120px;
    width:100%;
    min-width:1040px;
}

a { 
	text-decoration:none; 
	color: #666666;
}


#logo {
  background:#009245;
  text-align: center;
  width: 200px;
  font-size: 20px;
  height: 75px;
  position: fixed;
  left: 40px;
  top: 0px;
  color: white;
	z-index: 500;
}

h1 {
    font: 600 light;
	font-size: 35px;
    font-weight: 600;
	text-align:left;
    color:#666666;
}

h1 small{
	font-size: 28px;
    font-weight: 300;
	display: block;
}

h2 {
	font-size: 16px;
  font-weight: 400;
  padding: 0px;
  margin-top: 10px;
  margin-bottom: 2px;
  text-align: left;
  color: white;
}
/* .main-content {
  width: 100%;
  height: 60%;
  background: lightgrey;
  margin: 0 auto;
  overflow: hidden;
} */
.datacontainer {
  width: 80%;
  height: 60%;
  background: lightgrey;
  margin: 0 auto;
  overflow: hidden;
}
#top-stuff {
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
}

.active-links {

  position: fixed;
  width:200px;
  height:60px;
  right: 0px;
  top: 0px;
  z-index:100;
}
#container {
  width: 780px;
  margin: 0 auto;
  position: relative;
}

#session, #logoutsession {

	cursor:pointer;
	display:block;
	width:120px;
	height:40px;
	padding:0;
	margin:10px 40px 10px 40px;
	white-space: nowrap;
}
#logoutsession {
		  background: #39b54a;
		  border-radius:10px;
}
#session.active, #session:hover {
	color:#fff;
}

#dropdownicon{
	cursor:pointer;
	display:inline-block;
	background-color:#39b54a;
	width:18px;
	height:18px;
	float:right;
}

#dropdownicon .down{
	display:inline-block;
	background-color:#39b54a;
	width:18px;
	height:18px;
	transition: 
}

a#signin-link {
	position:relative;
	top:10px;
	right:0;


}

a#signin-link em {
	font-size:18px;
	font-style:normal;

}
a#signin-link strong {
  color: #fff;
  border: 1px solid white;
  border-radius: 10px;
  padding-top: 8px;
  padding-left: 40px;
  padding-bottom: 8px;
  padding-right: 40px;
  cursor: pointer;
  background: #39b54a;
	font-size: 14px;
	font-weight: bold;
}
a#user-link strong {
  color: #fff;
  border: none;
  Padding: 18px;
  padding-top: 10px;
  Padding-left: 5px;
  Padding-bottom: 10px;
  Padding-right: 5px;
  cursor: pointer;
  font-size: 14px;
  font-style: normal;
}
a#signin-link:hover strong {
  background: #8fcb95;
}

#logoutsession ul li:hover > ul {
  display: block;
}
#logoutsession ul {
  padding: 0px 0px;
  border-radius: 0px;
  list-style: none;
  position: relative;
  display: table-row;
  color: white;
  text-align:center;
}
#logoutsession ul li#user {
  display: table-cell;
  width:92px;
  margin:0px 10px;
  padding-top:10px;
	font-weight:bold;
}
#logoutsession ul li#icon {
  width: 28px;
  display: table-cell;
	padding-bottom:10px;
}

img#iconimg{
	vertical-align:middle;
}

#logoutsession ul li#icon img#iconimg.up {
   -moz-transform: scaleY(1);
    -o-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}

#logoutsession ul li#icon img#iconimg.down {
   -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}


#signin-dropdown, #logout-dropdown {
  background-color:#39b54a;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0 1px 2px #666666;
  height: 218px;
  min-width: 140px;
  position: absolute;
  top: 60px;
  right: 30px;;
  display: none;
 /*  padding-top: 10px; */
  z-index:999;
}

#logout-dropdown {
	height:100px;
}
#signin-dropdown form {
  cursor: pointer;
  padding: 10px;
  text-align: left;
}
#signin-dropdown .signin-textbox span {
  color: white;
}
#signin-dropdown .signin-textbox input {
	border:1px solid #fff;
  -moz-border-radius: 2px;
  	border-radius:3px;		
	width: 200px;
	height:38px;
	font-size:12pt;
	color:#666666;
	margin: 10px 0px 10px 0px;
	  padding: 6px 6px 4px;
}

fieldset.links{
	display:block;
	height:36px;
  border: none;
  padding:0;
  margin:0;
}
form.signin .signin-textbox label {
  display: block;
  padding-bottom: 7px;
}
form.signin .signin-textbox span {
  display: block;
  color: white;
}
form.signin p, form.signin span {
  color: white;
  font-size: 10pt;
  line-height: 18px;
}

form.signin .remb {
  padding: 9px 0;
  position: relative;
  text-align: right;
}
form.signin .remb .remember {
  text-align: left;
  position: absolute;
  left: 0;
  font-size:10pt;
}
.header {
    position:relative;
  background-color: white;
  width: 100%;
  margin: 0 auto;
}
.fixed {
  top: 0px;
  position: fixed;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  align-content: center;

}
.button {
  background: -moz-linear-gradient(center top, #f3f3f3, #dddddd);
  background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#dddddd));
  background: -o-linear-gradient(top, #f3f3f3, #dddddd);
  background: #39b54a;
  filter: progid: DXImageTransform.Microsoft.gradient(startColorStr='#f3f3f3', EndColorStr='#dddddd');
  border: 2px solid #fff;
  -moz-border-radius: 4px;
	border-radius: 4px;
  color: white;
  cursor: pointer;
  display: inline-block;
  padding: 0px 7px;
  margin: 0;
  font: 14px;
}

.button:hover {
  background: #8fcb95;
}
.button#logout, #settings{
    border:none;
    float:left;
    font-size:12pt;
    margin:2px 2px 2px 10px;
    
}
button#settings {
  background: -moz-linear-gradient(center top, #f3f3f3, #dddddd);
  background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#dddddd));
  background: -o-linear-gradient(top, #f3f3f3, #dddddd);
  background: #39b54a;
  filter: progid: DXImageTransform.Microsoft.gradient(startColorStr='#f3f3f3', EndColorStr='#dddddd');
  border:none;
  border-width: 2px;
  -moz-border-radius: 4px;
border-radius: 4px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font: 14px;
}
button#settings:hover {
  background: #8fcb95;
}
*:focus {
    outline: none;
}