

body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote {
	margin: 0; padding: 0; border: 0; font-family: 'Open Sans', sans-serif;
}

body {
	background:#fff;
	position:relative;
	height:1120px;
    width:100%;
}

a { 
	text-decoration:none; 

}

h1 {
    font: 600 light;
	font-size: 35px;
    font-weight: 600;
	text-align:left;
    color:#666666;
}

h1 small{
	font-size: 28px;
    font-weight: 300;
	display: block;
}

h2 {
	font-size: 16px;
  font-weight: 400;
  padding: 0px;
  margin-top: 10px;
  margin-bottom: 2px;
  text-align: left;
  color: white;
}


#top-stuff {
	left:0;
	position:fixed;
	top:0;
	width:100%;
	z-index:12;
}

#top-bar-out {
	display:block;
	position:relative;
	width:100%;
	height:60px;
    background:#39b54a;
	box-shadow:0 1px 2px #666666;
	-webkit-box-shadow: 0 1px 2px #666666;
}

#nav {
    align-content:normal;
    position:relative;
	text-align: center;
    display:table;
    width:70%;
    height:100%;
    max-height:60px;
    padding-left:200px;
}

#nav ul {
	background: #39b54a; 
	padding: 0px 0px;
	border-radius: 0px;  
	list-style: none;
	position: relative;
	display: table-row;
    color:white;
    width:45%;
}

#nav ul li:hover > ul {
		display: block;
	}
	#nav ul:after {
		content: ""; clear: both; display: block;
	}

	#nav ul li {
        width:15%;
        height:100%;
            display:table-cell;
		float: left;
	}
		#nav ul li:hover {
			background: #8fcb95;
		}
			nav ul li:hover a {
				color: #fff;
			}
		
		#nav ul li a {
			display: block; padding: 20px 15px;
            font-size: 14px;
			font-weight:800;
			color: white; text-decoration: none;

}


#logo{
    background:#009245;
    padding:5px;
    text-align:center;
    width:150px;
    font-size:20px;
    height: 75px;
    position:absolute;
    left: 0px;
    top:0px;
    color:white;
    margin-right:30px;
margin-left:30px;
}
		}
			

.main-content{width:100%; height:60%;background:lightgrey;margin: 0 auto; overflow: hidden;}

.datacontainer{width:80%; height:60%;background:lightgrey;margin: 0 auto; overflow: hidden;}


.active-links {
	position:absolute;
	right:30px;
	top:10px;
}
#container {
    width:780px;
    margin:0 auto;
    position: relative;
}

#topnav {
    text-align:right;
}

#session {
	cursor:pointer;
	display:inline-block;
	height:30px;
	padding:1px 1px;
	vertical-align: top;
	white-space: nowrap;
}

#session.active, #session:hover {
	color:#fff;
}


a#signin-link {
	position:relative;
	top:10px;
	right:30px;
}

a#signin-link em {
	font-size:18px;
	font-style:normal;

}

a#signin-link strong {
	color:#fff;
    border-bottom:2px solid white;
	border-left:2px solid white;
	border-right:2px solid white;
	border-top:2px solid white;
    border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
    border-top-left-radius:8px;
	border-top-right-radius:8px;
    padding-top:7px;    Padding-left:32px;    Padding-bottom:7px;    Padding-right:32px;
    cursor:pointer;
}

a#user-link strong {
	color:#fff;
border:none;
    Padding:18px;
        padding-top:10px;    Padding-left:32px;    Padding-bottom:10px;    Padding-right:32px;
    cursor:pointer;
    	font-size:14px;
    font-weight:800;
	font-style:normal;
    
}

a#signin-link:hover strong{
     background:#8fcb95;
}
#signin-dropdown {
	background-color:#39b54a;;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
	box-shadow:0 1px 2px #666666;
 -webkit-box-shadow: 0 1px 2px #666666;
	-webkit-box-shadow: 0 1px 2px #666666;
	min-height:100px;
	min-width:160px;
	position:absolute;
	top:50px;
	right:0;
	display:none;
}

#signin-dropdown form{
	cursor:pointer;
	padding:10px;
	text-align:left;
}

#signin-dropdown .textbox span { color:white;}
#signin-dropdown .textbox input { width:200px; }

fieldset { 
	border:none; 
}

form.signin .textbox label { 
	display:block; 
	padding-bottom:7px; 
}

form.signin .textbox span { 
	display:block;
    color: white;
}

form.signin .links {
	color:white;
	font-size:12px; 
	height: 25px;
	position:relative;
}

form.signin .links a {
	color:white;
	font-size:12px; 
	height: 25px;
	padding:4px 7px;
	position:relative;
}

form.signin p, form.signin span, form.sign a { 
	color:white; 
	font-size:14px; 
	line-height:18px;
	
} 

form.signin .textbox input { 
	background:white; 
	border-bottom:1px solid #333;
	border-left:1px solid #000;
	border-right:1px solid #333;
	border-top:1px solid #000;
	color:grey; 
	-moz-border-radius: 2px;
    -webkit-border-radius: 2px;
	font-size:14px;
	padding:2px;
}

form.signin .remb { 
	padding:9px 0; 
	position:relative; 
	text-align:right;
margin-top:10px;
}

form.signin .remb .remember { 
	text-align:left; 
	position:absolute; 
	left:0;
}


.header{
    background-color:white;

    width:100%;
    margin:0 auto;
}

.fixed{
  top:60px;
  position:fixed;
    width:100%;
    margin:0 auto;
    text-align: center;
    align-content: center;
}

.button { 
	background: -moz-linear-gradient(center top, #f3f3f3, #dddddd);
	background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#dddddd));
	background:  -o-linear-gradient(top, #f3f3f3, #dddddd);
    background:green;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f3f3f3', EndColorStr='#dddddd');
	border-color:white; 
	border-width:2px;
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
	color:white;
	cursor:pointer;
	display:inline-block;
	padding:4px 7px;
	margin:0;
	font-size:20px; 
}

.button:hover { background:lightgreen; }

.button#logout{
	border:none;}
}