.tabs {
	width: 100%;
	max-width: 960px;
	float: none;
	list-style: none;
	padding: 0;
	margin: 0 auto;
	/*    border-bottom: 2px solid #ccc;*/
}

input[type=radio] {
	display: none;
}

.addtext{
  position:relative;
  width:100%;
    padding:0;
    margin:5px 0px 15px 0px;
    color:#666666;
}
.addtext span{
  position:absolute;
  right:80px;
  bottom:-20px;
  color:#39b45a;
  font-size:12px;
}

.tabs label {
	display: block;
	float: left;
	width: 16.6%;
	color: grey;
	font-size: 16px;
	font-weight: normal;
	text-decoration: none;
	text-align: center;
	line-height: 2;
	cursor: pointer;
	border-bottom: 2px solid #fff;
	/*    box-shadow: inset 0 4px #ccc;
    border-bottom: 2px solid #ccc;
    -webkit-transition: all 0.5s; /* Safari 3.1 to 6.0 */
	/*    transition: all 0.5s;
*/
}

.tabs label#label6 {
	cursor: default;
	float: right;
	height: 34px;
}

.tabs label span {
	display: none;
}

.tabs label i {
	padding: 5px 5px;
	margin-right: 0;
}

.tabs label:hover {
	/*    box-shadow: inset 0 4px #3498db;
  */
	border-bottom: 2px solid #39b54a;
}

.tabs label#label6:hover {
	/*    box-shadow: inset 0 4px #3498db;
  */
	border-bottom: 2px solid #fff;
}

.tab-content {
	width: 100%;
	float: left;
	min-height: 800px;
	margin-top: 38px;
	padding: 0px;
	box-sizing: border-box;
	background-color: #ffffff;
}

.tabs [id^="tab"]:checked+label {
	background: #FFF;
	/*box-shadow: inset 0 4px #3498db;*/
	border-bottom: 2px solid green;
	color: #3498db;
}

[id^="tab"]:checked+[id^="label"] {
	background: #08C;
	color: white;
}

[id^="label"]:focused {
	background-color: beige;
	border-bottom: 5px solid #39b54a;
}

.view-obj div.editwrapper {
	position: relative;
	width: 70%;;
	background-color: #fff;
	margin:0px;
	line-height:1em;
		border-left: 1px solid #b3b3b3;
}

.metaEdit, .obj-edit {
	background-color: #fff;
	padding-left: 2px;
	color: #666666;
	font-weight: 400;
	font-size: 16px;
	border-radius: 5px;
}

input[type=text],
input[type=password]{
  width:900px;
  height: 38px;
  padding: 0px 16px;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  margin:2px 0;
  font-size: 14px;
  color:#666666;
  font-weight:400;
}
#description_data, #description_data_v{
width:900px;
height:90px;
min-height:60px;
resize:none;
padding:16px 16px;
border: 1px solid #e6e6e6;
border-radius: 10px;
color:#666666;
  margin:2px 0;
  font-size: 14px;
  overflow-y:auto;
  line-height:1.5em;
}
#description_data_v:disabled{
	border:none;
}
#description_data:focus{
	border: 1px solid #39b45a;
}

input[type=text]:focus {
	border: 1px solid #39b54a;
	outline: none;
}

input[type=text]:disabled {
	border: 1px solid #fff;
	background-color: #fff;
	color: #666666;
	font-weight: 400;
	font-size: 14px;
}

.objectcontainer {
	width: 98%;
	height: 60px;
	background: white;
	margin: 0 auto;
	overflow: hidden;
	z-index: 125;
		border: 1px solid lightgrey;
	box-shadow: 0 2px 0px rgba(0, 0, 0, 0.35);
}

.headercol {
	text-align: left;
	width: 81%;
	border-collapse: collapse;
	display: table;
	margin-top: 12px;
	margin-bottom: 0px;
	max-width: 960px;
}

.done {
	color: #fff;
	background-color: #39b54a;
}

#checkbox {
	display: none;
}

.square {
	background-color: transparent;
	transition: all 0.75s 0.25s;
	transform: rotate(180deg);
}

.rotate {
	transform: rotate(180deg);
}

.display-content {
	padding: 22px;
}

.AccessNeeded {
	display: none;
}

ul#tabs {
	list-style-type: none;
	margin: 0 0 12px 0;
	padding: 0px;
	text-align: center;
}

ul#tabs li {
	display: block;
	float: left;
	color: #b3b3b3;
	font-size: 14px;
	font-weight: 400;
	text-decoration: none;
	text-align: center;
	line-height: 2;
	margin-top: 6px;
	margin-bottom: 6px;
	margin-left: 38px;
	margin-right: 82px;
	cursor: pointer;
	vertical-align: bottom;
	padding: 0px 0px 0px 0px;
}

ul#tabs li:hover {
	background-color: #fff;
	color: #666666;
		border-bottom: 2px solid #39b54a;
}

ul#tabs li.active {
	color: #666666;
}

ul#tabs li.whiteBar {
		border-bottom: 2px solid #fff;
}
ul#tabs li.greenBar {
		border-bottom: 2px solid #39b45a;
}

#ellipsis {
	display:block;
	position:absolute;
	top:4px;
	right:0px;
}

ul#tab:hover {
	color: #b3b3b3;
}

ul#tab {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul#tab li {
	display: none;
	width: 100%;
	float: left;
	min-height: 800px;
	margin-top: 22px;
	padding: 0px;
	box-sizing: border-box;
	background-color: #ffffff;
}

ul#tab li.active {
	display: block;
}

ul#tab li h2 {
	font-weight: 400;
	margin-bottom: 30px;
	padding-bottom: 5px;
	border-bottom: solid 5px #32c896;
}

.inputfile {
	display: block;
	margin: 0 auto;
}

label {
	cursor: pointer;
}

select{
   background: transparent;
	background-image: url("../images/dropdown_chevron.png");
   background-repeat: no-repeat;
	background-position: 98%;
  line-height: 1;
  -webkit-appearance: none;
  -moz-appearance:none;
  width:932px;
  height: 50px;
  padding: 16px;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  margin:2px 0;
  font-size: 14px;
  color:#666666;
  font-weight:300;
    font-family: 'Open Sans', sans-serif;
  
}

select.up{
		background-image: url("../images/dropdown_chevron-1.png");
}

option { 
  height: 35px; 
  padding:5px; 
  line-height: 35px; 
}
.display-payload, .display-input, .display-output {
	display:block;
    min-height:50px;
	width:100%;
  border:none;
  border-radius: 8px;
 
  overflow: auto;
  resize:none;
  position:relative;
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
/*     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);  */
}
::-webkit-scrollbar-track {
      background-color: #fff;
} /* the new scrollbar will have a flat appearance with the set background color */
 
::-webkit-scrollbar-thumb {
      background-color: #e6e6e6; 
} /* this will style the thumb, ignoring the track */
 
::-webkit-scrollbar-button {
    display:none;
      background-color: #e6e6e6;
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */
 
::-webkit-scrollbar-corner {
      background-color: #fff;
} /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */


#payloadTextArea, #outputTextArea, #inputTextArea {
	display:block;
    min-height:380px;
	width:900px;
	padding:5px 16px;
  border:1px solid #e6e6e6;
  border-radius: 8px;
    resize:none;
   color:#666666;
   font-size:14px;
   font-weight:300;
   margin-top:40px;
}
#payloadTextArea-v, #outputTextArea-v, #inputTextArea-v, #inputTextArea-clone  {
	display:block;
    min-height:600px;
	width:900px;
	padding:5px 16px;
   resize:none;
   color:#666666;
   font-size:14px;
   font-weight:300;
   	border:none;
   	   margin-top:40px;
}
#clearPayloadButton, #clearInputButton, #clearOutputButton{
	background-color: #fff;
  color: #39b45a;
  font-size: 14px;
  font-weight: 300;
  padding-left: 10px;
    border:none;
    outline:none;
    cursor:pointer;
    position:absolute;
   right:68px;
   top:0px;
    display:block;
}

#payloadDropFile, #inputDropFile,#outputDropFile{
width:928px;
margin-top:40px;
}